#menu_button {
  display: inline-block;
  width: 8vh;
  height: 6vh;
  position: relative;
  overflow: hidden;
  padding: 0 1vh;
}

#line_1, #line_2 {
  display: inline-block;
  width: 6vh;
  height: 4px;
  position: absolute;
  background-color: rgb(204, 0, 0);
  transition: .1s;
}

#line_1 {
  top: 2vh;
  left: 1vh;
}

#line_2 {
  bottom: 2vh;
  left: 1vh;
}

.rotate_line_1 {
  transform: rotate(45deg);
  top: calc(3vh - .15vh) !important;
}

.rotate_line_2 {
  transform: rotate(-45deg);
  bottom: calc(3vh - .15vh) !important;
}
