.main_title {
font-size: calc(2vh + 3vw);
  color: #fff;
  z-index: -1;
  pointer-events: none !important;
}

.transperent {
  /*-webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;*/
  opacity: .5;
  z-index: 1;
}

.uppercase {
  text-transform: uppercase;
  font-size: calc(4vh + 5vw);
}

.left_title {
  display: grid;
  width: 35%;
  height: 100%;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: right !important;
  line-height: 0.8;
}

.left_title .main_title {
  padding-right: 20px;
  border-right: solid 12px rgb(204, 0, 0);
}

.right_title {
  display: grid;
  width: 35%;
  height: 100%;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left !important;
  line-height: 0.8;
}

.right_title .main_title {
  padding-left:  20px;
  border-left: solid 12px rgb(204, 0, 0);
}

.text {
  color: white;
  font-size: calc(1.4vh + .6vw);
  margin: 0 1vw;
}

.right_iframe_container .text {
  text-align: left;
}

.left_iframe_container .text {
  text-align: right;
}

@media screen and (max-width: 100vh) {
  .right_title, .left_title {
    width: 100%;
    height: 40%;
    text-align: center !important;
  }

  .left_title .main_title, .right_title .main_title {
    border-right: solid 0 rgb(204, 0, 0);
    border-left: solid 0 rgb(204, 0, 0);
  }

  .text {
    text-align: justify !important;
    padding: 0 4%;
  }
}
